.slider-3{
    position: relative;
    /* display: none; */
    
}
.slide-img{
    position: absolute;
    width: 100%;
    
}

.menu{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
